## Step 2: Data wrangling
In this notebook we are going through the basics of data wrangling using pandas employing the same dataset as the one of the first step.
In order to import the dataset, we use read_csv again, with the only difference that this time, we add the header while importing the dataset.
We use df.head() to visualize the dataset after importing it.

In [8]:
import numpy as np
import pandas as pd 
url ="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
givenHeader = ["symboling","normalized-losses","make","fuel-type","aspiration",
"num-of-doors","body-style","drive-wheels","engine-location","wheel-base","length",
"width","height","curb-weight","engine-type","num-of-cylinder","engine-size",
"fuel-system","bore","stroke","compression-ratio","horsepower","peak-rpm",
"city-mpg"," highway-mpg","price"]


df = pd.read_csv(url, names =givenHeader )
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

## Dealing with missing values, Step 1: identifying 

Now we would like to see the ways we can deal with the missing values in our dataset.
First, we should see how to identify the missing data.

### Replacing "?" with nan
by having a look on the dataset we can see that there are several cells in which we have the symbol "?" which represents the missing value, so the first step is replacing "?" with nan. 
In order to so we can do it either for a certain column,or for the whole dataset. In order to do the latter for a certain column, we can use list comprehension: So first let's find the boolean vector of the "normalized-losses" column being equal to "?"

In [11]:
df["normalized-losses"]=="?"

0       True
1       True
2       True
3      False
4      False
5       True
6      False
7       True
8      False
9       True
10     False
11     False
12     False
13     False
14      True
15      True
16      True
17      True
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
175    False
176    False
177    False
178    False
179    False
180    False
181     True
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189     True
190    False
191     True
192     True
193     True
194    False
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
Name: normalized-losses, dtype: bool

we can now replace these with np.nan

In [12]:
df["normalized-losses"][df["normalized-losses"]=="?"] = np.nan

C:\Users\behzad\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':